In [ ]:
# import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt #visualize
plt.style.use("seaborn-whitegrid")

import seaborn as sns #visualize

from collections import Counter

import warnings # don't show warnings
warnings.filterwarnings("ignore")
#from wordcloud import WordCloud
%matplotlib inline

In [13]:
#Loading datasets
df = pd.read_csv("pes2021xlxs.csv", encoding="ISO-8859–1")

In [14]:
df.head()

,name,shirt_number,team_name,height,weight,age,foot,condition,registered_position,offensive_awareness,...,rating_as_CMF,rating_as_LMF,rating_as_RMF,rating_as_AMF,rating_as_LWF,rating_as_RWF,rating_as_SS,rating_as_CF,ball_color,rating_stars
0,L. MESSI,10,FC BARCELONA,170,72,33,Left foot,C,RWF,95,...,85,84,87,94,89,94,94,94,black,5
1,C. RONALDO,7,JUVENTUS,187,83,35,Right foot,C,LWF,91,...,80,86,86,87,93,87,89,93,black,5
2,R. LEWANDOWSKI,9,FC BAYERN MUNCHEN,185,79,32,Right foot,C,CF,94,...,72,76,76,83,81,81,84,92,black,5
3,NEYMAR,10,PSG,175,68,28,Right foot,C,LWF,86,...,85,89,87,91,92,86,90,85,black,5
4,K. DE BRUYNE,17,MANCHESTER CITY,181,68,29,Right foot,C,AMF,86,...,91,80,83,92,81,83,85,80,black,5

In [15]:
df.sample(10)

,name,shirt_number,team_name,height,weight,age,foot,condition,registered_position,offensive_awareness,...,rating_as_CMF,rating_as_LMF,rating_as_RMF,rating_as_AMF,rating_as_LWF,rating_as_RWF,rating_as_SS,rating_as_CF,ball_color,rating_stars
12732,M. TSAOUSIS,34,PAOK,173,70,20,Left foot,C,LB,59,...,53,59,56,52,56,54,55,50,white,1
2252,H. CHOUDHURY,20,LEICESTER B,178,64,23,Right foot,C,DMF,63,...,68,61,61,61,60,60,61,58,silver,3
8739,R. VILLAGRA,15,ROSARIO CENTRAL,178,70,19,Right foot,C,CMF,62,...,67,59,59,61,58,58,58,53,white,1
8237,CURRO SINCHEZ,22,NUMANCIA R,178,68,24,Right foot,C,RWF,67,...,63,64,66,62,62,67,63,60,white,1
2323,E. OWUSU,6,GENT,182,72,23,Right foot,C,DMF,65,...,68,63,63,62,61,61,61,56,silver,3
13338,C. SUPMA,27,SCG MUANGTHONG UNITED,183,75,22,Right foot,C,RB,59,...,51,52,55,50,51,51,51,47,white,1
3277,GABRIEL DIAS,13,FORTALEZA,183,79,26,Right foot,D,RB,63,...,61,59,62,60,58,58,58,56,bronze,2
7883,F. SAYFIYEV,34,PAKHTAKOR,183,72,29,Right foot,C,LB,58,...,60,64,61,58,57,57,57,52,white,1
4417,N. BURMISTROV,18,SOCHI,184,83,31,Left foot,C,LWF,69,...,66,68,68,66,72,68,64,67,bronze,2
9898,G. REA,16,LUTON WO,184,73,26,Right foot,C,DMF,56,...,58,52,52,51,50,50,51,47,white,1

In [17]:
#viewing all columns present in the dataset
df.columns

Index(['name', 'shirt_number', 'team_name', 'height', 'weight', 'age', 'foot',
       'condition', 'registered_position', 'offensive_awareness',
       'ball_control', 'dribbling', 'tight_possession', 'low_pass',
       'lofted_pass', 'finishing', 'heading', 'place_kicking', 'curl', 'speed',
       'acceleration', 'kicking_power', 'jump', 'physical_contact', 'balance',
       'stamina', 'defensive_awareness', 'ball_winning', 'aggression',
       'gk_awareness', 'gk_catching', 'gk_clearing', 'gk_reflexes', 'gk_reach',
       'weak_foot_accuracy', 'form', 'injury_resistance', 'overall_rating',
       'rating_as_GK', 'rating_as_CB', 'rating_as_LB', 'rating_as_RB',
       'rating_as_DMF', 'rating_as_CMF', 'rating_as_LMF', 'rating_as_RMF',
       'rating_as_AMF', 'rating_as_LWF', 'rating_as_RWF', 'rating_as_SS',
       'rating_as_CF', 'ball_color', 'rating_stars'],
      dtype='object')

In [18]:
df.shape

(14693, 53)

In [19]:
#checking for missing values
df.columns[df.isnull().any()]

Index([], dtype='object')

In [26]:
#Renaming the columns in the datasets
df = df.rename(columns = {'name': 'Player_Name', 'shirt_number': 'Shirt_Number', 'team_name': 'Team_Name', 'height': 'Height',
                       'weight': 'Weight', 'age': 'Age', 'foot': 'Strong_Foot', 'registered_position': 'Player_Position',
                       'offensive_awareness': 'Attack_Awareness', 'ball_control': 'Ball_Control', 'dribbling': 'Dribbling',
                       'low_pass': 'Low_Pass', 'lofted_pass': 'Lofted_Pass', 'finishing': 'Finish', 'heading': 'Header',
                       'place_kicking': 'Freekick', 'curl': 'Curl', 'speed': 'Speed', 'acceleration': 'Acceleration',
                       'kicking_power': 'Shot_Power', 'jump': 'Jump_Power', 'stamina': 'Stamina',
                       'defensive_awareness': 'Defense', 'ball_winning': 'Ball_Winning', 'aggression': 'Aggression',
                       'weak_foot_accuracy':'Weak_Foot', 'form':'Form', 'injury_resistance':'Injury_Resistance',
                        'overall_rating':'Player_Rating'
                      }, 
               inplace = False)

In [27]:
df.head()

,Player_Name,Shirt_Number,Team_Name,Height,Weight,Age,StrongFoot,condition,Player_Position,Attack_Awareness,...,rating_as_CMF,rating_as_LMF,rating_as_RMF,rating_as_AMF,rating_as_LWF,rating_as_RWF,rating_as_SS,rating_as_CF,ball_color,rating_stars
0,L. MESSI,10,FC BARCELONA,170,72,33,Left foot,C,RWF,95,...,85,84,87,94,89,94,94,94,black,5
1,C. RONALDO,7,JUVENTUS,187,83,35,Right foot,C,LWF,91,...,80,86,86,87,93,87,89,93,black,5
2,R. LEWANDOWSKI,9,FC BAYERN MUNCHEN,185,79,32,Right foot,C,CF,94,...,72,76,76,83,81,81,84,92,black,5
3,NEYMAR,10,PSG,175,68,28,Right foot,C,LWF,86,...,85,89,87,91,92,86,90,85,black,5
4,K. DE BRUYNE,17,MANCHESTER CITY,181,68,29,Right foot,C,AMF,86,...,91,80,83,92,81,83,85,80,black,5

In [29]:
#dropping column in our dataset
cl = ['condition', 'physical_contact', 'balance']
df =df.drop(cl, axis=1, inplace = False)
df.sample(5).T

,10340,9886,2596,8424,10198
Player_Name,OIER ZARRAGA,G. LEFEBVRE,C. MBEMBA,SUN SHILIN,LU HAIDONG
Shirt_Number,30,6,19,37,3
Team_Name,BILBAO BR,NANCY,PORTO,SHANGHAI SHENHUA,SHENZHEN KAISA
Height,175,174,182,178,180
Weight,75,63,81,72,65
Age,21,26,26,32,28
StrongFoot,Right foot,Right foot,Right foot,Right foot,Left foot
Player_Position,CMF,CMF,CB,DMF,LB
Attack_Awareness,63,68,62,63,64
Ball_Control,71,67,70,71,65
Dribbling,68,64,67,63,63
tight_possession,71,67,62,66,61
Low_Pass,73,71,66,70,65
Lofted_Pass,68,65,67,67,68
Finish,61,64,61,63,58
Header,62,62,77,63,60
Freekick,62,60,55,62,65
Curl,66,63,56,65,65
Speed,71,71,76,67,75
Acceleration,76,73,74,69,73
Shot_Power,68,66,78,69,69
Jump_Power,71,75,79,65,66
Stamina,73,76,76,71,71
Defense,55,63,76,71,66
Ball_Winning,52,65,78,70,65
Aggression,55,62,78,70,62
gk_awareness,40,40,40,40,40
gk_catching,40,40,40,40,40
gk_clearing,40,40,40,40,40
gk_reflexes,40,40,40,40,40
gk_reach,40,40,40,40,40
Weak_Foot,2,2,2,2,3
Form,4,5,3,4,4
Injury_Resistance,2,2,2,2,2
Player_Rating,65,65,74,67,65
rating_as_GK,40,40,40,40,40
rating_as_CB,48,54,74,56,52
rating_as_LB,58,63,70,60,65
rating_as_RB,58,63,68,62,60
rating_as_DMF,62,62,63,67,57
rating_as_CMF,65,65,58,62,55
rating_as_LMF,59,57,58,58,60
rating_as_RMF,59,60,58,55,57
rating_as_AMF,62,60,56,60,54
rating_as_LWF,58,57,57,55,55
rating_as_RWF,60,57,57,55,55
rating_as_SS,59,58,58,56,56
rating_as_CF,55,56,56,55,52
ball_color,white,white,bronze,white,white
rating_stars,1,1,2,1,1

In [30]:
df.shape

(14693, 50)

In [31]:
#checking number of Categorical and Numerical data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14693 entries, 0 to 14692
Data columns (total 50 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player_Name        14693 non-null  object
 1   Shirt_Number       14693 non-null  object
 2   Team_Name          14693 non-null  object
 3   Height             14693 non-null  int64
 4   Weight             14693 non-null  int64
 5   Age                14693 non-null  int64
 6   StrongFoot         14693 non-null  object
 7   Player_Position    14693 non-null  object
 8   Attack_Awareness   14693 non-null  int64
 9   Ball_Control       14693 non-null  int64
 10  Dribbling          14693 non-null  int64
 11  tight_possession   14693 non-null  int64
 12  Low_Pass           14693 non-null  int64
 13  Lofted_Pass        14693 non-null  int64
 14  Finish             14693 non-null  int64
 15  Header             14693 non-null  int64
 16  Freekick           14693 non-null  int64
 17  Curl               14693 non-null  int64
 18  Speed              14693 non-null  int64
 19  Acceleration       14693 non-null  int64
 20  Shot_Power         14693 non-null  int64
 21  Jump_Power         14693 non-null  int64
 22  Stamina            14693 non-null  int64
 23  Defense            14693 non-null  int64
 24  Ball_Winning       14693 non-null  int64
 25  Aggression         14693 non-null  int64
 26  gk_awareness       14693 non-null  int64
 27  gk_catching        14693 non-null  int64
 28  gk_clearing        14693 non-null  int64
 29  gk_reflexes        14693 non-null  int64
 30  gk_reach           14693 non-null  int64
 31  Weak_Foot          14693 non-null  int64
 32  Form               14693 non-null  int64
 33  Injury_Resistance  14693 non-null  int64
 34  Player_Rating      14693 non-null  int64
 35  rating_as_GK       14693 non-null  int64
 36  rating_as_CB       14693 non-null  int64
 37  rating_as_LB       14693 non-null  int64
 38  rating_as_RB       14693 non-null  int64
 39  rating_as_DMF      14693 non-null  int64
 40  rating_as_CMF      14693 non-null  int64
 41  rating_as_LMF      14693 non-null  int64
 42  rating_as_RMF      14693 non-null  int64
 43  rating_as_AMF      14693 non-null  int64
 44  rating_as_LWF      14693 non-null  int64
 45  rating_as_RWF      14693 non-null  int64
 46  rating_as_SS       14693 non-null  int64
 47  rating_as_CF       14693 non-null  int64
 48  ball_color         14693 non-null  object
 49  rating_stars       14693 non-null  int64
dtypes: int64(44), object(6)
memory usage: 5.6+ MB

In [32]:
#statistical analysis of our datasets
df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,Height,Weight,Age,Attack_Awareness,Ball_Control,Dribbling,tight_possession,Low_Pass,Lofted_Pass,Finish,...,rating_as_DMF,rating_as_CMF,rating_as_LMF,rating_as_RMF,rating_as_AMF,rating_as_LWF,rating_as_RWF,rating_as_SS,rating_as_CF,rating_stars
count,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,...,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000,14693.000000
mean,180.816647,74.439189,25.660859,62.235827,67.353502,66.368543,65.310488,66.730076,66.137617,59.776560,...,59.404206,58.135439,58.201865,58.222215,56.997005,56.823317,56.829238,57.514599,55.210849,1.618254
std,6.784317,6.848696,4.849386,9.989819,7.941034,8.834794,8.799865,6.978749,6.660569,10.091230,...,8.348473,9.130361,8.987510,8.978888,9.537558,8.971585,8.977505,9.110008,9.828445,0.884178
min,156.000000,40.000000,15.000000,40.000000,40.000000,40.000000,41.000000,42.000000,41.000000,40.000000,...,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,1.000000
25%,176.000000,70.000000,22.000000,57.000000,64.000000,62.000000,61.000000,63.000000,62.000000,54.000000,...,55.000000,53.000000,53.000000,53.000000,51.000000,52.000000,52.000000,52.000000,48.000000,1.000000
50%,180.000000,74.000000,25.000000,64.000000,68.000000,67.000000,66.000000,67.000000,66.000000,60.000000,...,60.000000,58.000000,59.000000,59.000000,57.000000,57.000000,57.000000,58.000000,55.000000,1.000000
75%,186.000000,79.000000,29.000000,69.000000,72.000000,72.000000,71.000000,71.000000,70.000000,67.000000,...,65.000000,64.000000,64.000000,64.000000,63.000000,63.000000,63.000000,64.000000,62.000000,2.000000
max,203.000000,113.000000,43.000000,95.000000,96.000000,97.000000,96.000000,96.000000,96.000000,95.000000,...,89.000000,91.000000,89.000000,88.000000,94.000000,93.000000,94.000000,94.000000,94.000000,5.000000

In [33]:
#checking number of unique features in the columns
df.nunique()

Player_Name          13760
Shirt_Number          1337
Team_Name              466
Height                  47
Weight                  54
Age                     29
StrongFoot               2
Player_Position         13
Attack_Awareness        56
Ball_Control            55
Dribbling               58
tight_possession        56
Low_Pass                53
Lofted_Pass             52
Finish                  53
Header                  47
Freekick                53
Curl                    52
Speed                   51
Acceleration            52
Shot_Power              43
Jump_Power              46
Stamina                 49
Defense                 56
Ball_Winning            54
Aggression              52
gk_awareness            39
gk_catching             42
gk_clearing             40
gk_reflexes             41
gk_reach                42
Weak_Foot                4
Form                     8
Injury_Resistance        3
Player_Rating           45
rating_as_GK            41
rating_as_CB            51
rating_as_LB            47
rating_as_RB            47
rating_as_DMF           50
rating_as_CMF           50
rating_as_LMF           50
rating_as_RMF           49
rating_as_AMF           52
rating_as_LWF           53
rating_as_RWF           51
rating_as_SS            52
rating_as_CF            55
ball_color               5
rating_stars             5
dtype: int64

In [64]:
#Fastest players
fastest_players =df[["Acceleration","Player_Name","Player_Position",
                     'Age','Team_Name','Speed',"Player_Rating"]].nlargest(5, ['Acceleration']).set_index('Player_Name')
fastest_players

,Acceleration,Player_Position,Age,Team_Name,Speed,Player_Rating
Player_Name,,,,,,
K. MBAPPE,97,CF,22,PSG,96,91
ADAMA TRAORE,97,RWF,24,WOLVERHAMPTON YB,96,82
S. MANE,95,LWF,28,LIVERPOOL,94,90
R. STERLING,95,LWF,26,MANCHESTER CITY,92,88
T. WERNER,95,CF,24,CHELSEA,92,86

In [63]:
#Tallest players
tallest_players =df[["Height","Player_Name","Player_Position",
                     'Age','Team_Name', 'Weight',"Player_Rating"]].nlargest(5, ['Height']).set_index('Player_Name')
tallest_players

,Height,Player_Position,Age,Team_Name,Weight,Player_Rating
Player_Name,,,,,,
A. BI,203,CB,26,AUXERRE,94,67
V. MILINKOVIC SAVIC,202,GK,23,TORINO,92,72
K. SCHERPEN,202,GK,20,AJAX,85,69
D. THIAM,202,GK,22,SPAL,87,63
A. COPPOLA,202,DMF,20,LIVORNO,78,61

In [62]:
#strongest players
strongest_players = df[["Stamina","Player_Name","Player_Position",
                     'Age','Team_Name', 'Weight',"Player_Rating"]].nlargest(5, ['Stamina']).set_index('Player_Name')
strongest_players

              Stamina Player_Position  Age    Team_Name  Weight  Player_Rating
Player_Name
N. KANTE           96             CMF   29      CHELSEA      68             88
A. ROBERTSON       95              LB   26    LIVERPOOL      64             85
CASEMIRO           92             DMF   28  REAL MADRID      84             89
W. NDIDI           92             DMF   24  LEICESTER B      74             84
AZPILICUETA        92              RB   31      CHELSEA      78             83

In [61]:
#lofted pass
best_loft_passes = df[["Lofted_Pass","Player_Name","Player_Position",
                     'Age','Team_Name',"Player_Rating"]].nlargest(5, ['Lofted_Pass']).set_index('Player_Name')
best_loft_passes

,Lofted_Pass,Player_Position,Age,Team_Name,Player_Rating
Player_Name,,,,,
K. DE BRUYNE,96,AMF,29,MANCHESTER CITY,92
T. ALEXANDER-ARNOLD,94,RB,22,LIVERPOOL,87
L. MESSI,91,RWF,33,FC BARCELONA,94
T. KROOS,91,CMF,30,REAL MADRID,88
M. VERRATTI,90,CMF,28,PSG,87

In [60]:
#low pass
best_low_passes = df[["Low_Pass","Player_Name","Player_Position",
                     'Age','Team_Name',"Player_Rating"]].nlargest(5, ['Low_Pass']).set_index('Player_Name')
best_low_passes

,Low_Pass,Player_Position,Age,Team_Name,Player_Rating
Player_Name,,,,,
K. DE BRUYNE,96,AMF,29,MANCHESTER CITY,92
LUIS ALBERTO,93,CMF,28,LAZIO,86
ANDRES INIESTA,93,CMF,36,VISSEL KOBE,85
T. KROOS,92,CMF,30,REAL MADRID,88
THIAGO,92,CMF,29,FC BAYERN MUNCHEN,88

In [59]:
#best defenders
best_defenders = df[["Defense","Player_Name","Player_Position",
                     'Age','Team_Name',"Player_Rating"]].nlargest(5, ['Defense']).set_index('Player_Name')
best_defenders

              Defense Player_Position  Age     Team_Name  Player_Rating
Player_Name
V. VAN DIJK        95              CB   29     LIVERPOOL             91
N. KANTE           94             CMF   29       CHELSEA             88
PIQUE              93              CB   33  FC BARCELONA             87
S. DE VRIJ         92              CB   28  LOMBARDIA NA             86
G. CHIELLINI       91              CB   36      JUVENTUS             86

In [58]:
#best defenders
best_attackers = df[["Attack_Awareness","Player_Name","Player_Position",
                     'Age','Team_Name',"Player_Rating"]].nlargest(5, ['Attack_Awareness']).set_index('Player_Name')
best_attackers

,Attack_Awareness,Player_Position,Age,Team_Name,Player_Rating
Player_Name,,,,,
L. MESSI,95,RWF,33,FC BARCELONA,94
T. MULLER,95,SS,31,FC BAYERN MUNCHEN,86
R. LEWANDOWSKI,94,CF,32,FC BAYERN MUNCHEN,92
S. AGUERO,93,CF,32,MANCHESTER CITY,90
H. KANE,93,CF,27,TOTTENHAM,89

In [57]:
#olldest player
oldest_players = df[["Age","Player_Name","Player_Position",
                    'Team_Name',"Player_Rating"]].nlargest(5, ['Age']).set_index('Player_Name')
oldest_players

                     Age Player_Position      Team_Name  Player_Rating
Player_Name
HILTON                43              CB    MONTPELLIER             78
L. BUTRON             43              GK   ALIANZA LIMA             72
HUSSEIN ABDUL GHANI   43              LB  AL AHLI SAUDI             70
G. BUFFON             42              GK       JUVENTUS             80
FERNANDO PRASS        42              GK         CEARI             74

In [56]:
#youngest players
youngest_players = df[["Age","Player_Name","Player_Position",
                    'Team_Name',"Player_Rating"]].nsmallest(5, ['Age']).set_index('Player_Name')
youngest_players

               Age Player_Position    Team_Name  Player_Rating
Player_Name
Y. BOERHOUT     15              CF   HEERENVEEN             60
V. FERNINDEZ   16              LB    PALESTINO             65
P. DWOMOH       16             CMF         GENK             64
M. CHO          16             RWF       ANGERS             64
L. ROMERO       16             AMF  MALLORCA RN             62

In [55]:
#top dribbler
top_dribbler = df[["Dribbling","Age","Player_Name","Player_Position",
                    'Team_Name',"Player_Rating"]].nlargest(1, ['Dribbling']).set_index('Player_Name')
top_dribbler

             Dribbling  Age Player_Position     Team_Name  Player_Rating
Player_Name
L. MESSI            97   33             RWF  FC BARCELONA             94

In [54]:
#top finisher
top_finisher = df[["Finish","Age","Player_Name","Player_Position",
                    'Team_Name',"Player_Rating"]].nlargest(1, ['Finish']).set_index('Player_Name')
top_finisher

             Finish  Age Player_Position     Team_Name  Player_Rating
Player_Name
L. MESSI         95   33             RWF  FC BARCELONA             94

In [53]:
#best player
best_player = df[["Player_Rating","Age","Player_Name","Player_Position",
                    'Team_Name']].nlargest(3, ['Player_Rating']).set_index('Player_Name')
best_player

                Player_Rating  Age Player_Position          Team_Name
Player_Name
L. MESSI                   94   33             RWF       FC BARCELONA
C. RONALDO                 93   35             LWF           JUVENTUS
R. LEWANDOWSKI             92   32              CF  FC BAYERN MUNCHEN